/* Общие стили */
.referral-page {
    background-color: #2e3440;
    min-height: 100vh;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

/* Заголовок */
.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

/* Описание */
.description {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #d8dee9;
}

/* Реферальная ссылка */
.referral-link {
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column; /* Кнопка под текстовым полем */
    align-items: center;
    gap: 10px;
}

.link-input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #4c566a;
    border-radius: 25px; /* Скругленные углы */
    background-color: #3b4252;
    color: white;
    text-align: center;
    outline: none;
}

.copy-button {
    width: 100%; /* Ширина кнопки равна ширине текстового поля */
    padding: 15px 20px;
    font-size: 1rem;
    background-color: #434c5e;
    color: #fff;
    border: none;
    border-radius: 25px; /* Скругленные углы */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1; /* Убираем лишний отступ для текста */
}

.copy-button:hover {
    background-color: #5e6775; /* Эффект при наведении */
}

/* Количество рефералов */
.referral-count {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #d8dee9;
}

/* Навигационная панель */
.navigation-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3b4252;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-button {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #4c566a;
    border-radius: 25px; /* Скругленные углы */
    transition: background-color 0.3s ease, color 0.3s ease;
    flex: 1;
    max-width: 120px;
}

.nav-button:hover {
    background-color: #5e6775; /* Эффект при наведении */
    color: #ffffff;
}
.referrals-list {
    margin-top: 20px;
}

.referrals-list h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.referrals-list ul {
    list-style-type: none;
    padding: 0;
}

.referrals-list li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.referrals-list p {
    font-style: italic;
    color: #666;
}